/* goods list*/
.cate {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #eee;
    clear: both;
    display: block;
    overflow: hidden;
}
.cate li {
    background: #fff none repeat scroll 0 0;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    float: left;
    height: 210px;
    margin: 0 0 0 -1px;
    overflow: hidden;
    position: relative;
    width: 50%;
}
.cate li aside {
    display: block;
    overflow: hidden;
    position: relative;
}
.cate li .right {
    padding-top: 22px;
}
.cate li a {
    display: block;
    overflow: hidden;
    padding: 0 10px 8px;
}
.cate li h3 {
    clear: both;
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: 600;
    height: 35px;
    line-height: 1.3em;
    overflow: hidden;
}
.cate li strong {
    color: #f60;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    overflow: hidden;
    padding: 6px 0;
}
.cate li strong.shockprice {
    padding: 6px 0 0;
}
.cate li strong.shockprice:last-child {
    padding-bottom: 6px;
}
.cate li strong span {
    color: #333;
    display: inline;
    font-size: 14px;
}
.cate li strong span.normal {
    font-weight: normal;
}
.cate li img {
    display: block;
    height: 100px;
    margin: 10px auto;
    width: 100px;
}
.cate li .promotion {
    height: 36px;
    overflow: hidden;
}
.cate li span, .cate li .promotion p  {
    color: #666;
    display: block;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cate li .promotion p::before {
    color: #999;
    content: "•";
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
}
.cate li p {
    color: #c1000c;
    display: block;
    font-size: 12px;
    height: 18px;
    overflow: hidden;
    width: 100%;
}
.cate li label {
    background: #fff none repeat scroll 0 0;
    border-radius: 0 3px 3px 0;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    height: 18px;
    left: 2px;
    margin: 0 0 5px 5px;
    padding: 0 5px 0 8px;
    position: absolute;
    top: 0;
}
.cate li label.installment {
    background: #ff6a00 none repeat scroll 0 0;
}
.cate li label.installment::before {
    border-bottom: 9px solid transparent;
    border-right: 7px solid #ff6a00;
    border-top: 9px solid transparent;
    content: "";
    height: 0;
    left: -7px;
    position: absolute;
    top: 0;
    width: 0;
}
.cate li label.installment::after {
    color: #fff;
    content: "•";
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    position: absolute;
    right: 85%;
    top: 1px;
    vertical-align: middle;
}
.cate li label.new {
    background: #288ad6 none repeat scroll 0 0;
}
.cate li label.new::before {
    border-bottom: 9px solid transparent;
    border-right: 7px solid #288ad6;
    border-top: 9px solid transparent;
    content: "";
    height: 0;
    left: -7px;
    position: absolute;
    top: 0;
    width: 0;
}
.cate li label.new::after {
    color: #fff;
    content: "•";
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    position: absolute;
    right: 85%;
    top: 1px;
    vertical-align: middle;
}
.cate li label.shockprice {
    background: #3fb846 none repeat scroll 0 0;
}
.cate li label.shockprice::before {
    border-bottom: 9px solid transparent;
    border-right: 7px solid #3fb846;
    border-top: 9px solid transparent;
    content: "";
    height: 0;
    left: -7px;
    position: absolute;
    top: 0;
    width: 0;
}
.cate li label.shockprice::after {
    color: #fff;
    content: "•";
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    position: absolute;
    right: 85%;
    top: 1px;
    vertical-align: middle;
}
.cate li.feature {
    display: block;
    float: none;
    height: auto;
    width: 100%;
}
.cate li.feature a {
    padding: 0;
}
.cate li.feature img {
    display: block;
    float: none;
    height: auto;
    margin: 0 auto 5px;
    width: 100%;
}
.cate li.feature img.lazy {
    height: 150px;
}
.cate li.feature label {
    bottom: 5px;
    left: auto;
    right: 10px;
    top: auto;
}
.cate li.feature h3 {
    height: auto;
    padding: 0 10px;
}
.cate li.feature strong {
    padding: 5px 10px 10px;
}
.cate li.feature strong.shockprice {
    padding-bottom: 0;
}
.cate li.feature strong.shockprice.last {
    padding-bottom: 5px;
}
.cate li.feature .right {
    padding-top: 0;
}
.pagination{margin:15px auto;font-size:16px;text-align:center;clear:both}
.pagination a{display:inline-block;margin-left:2px;padding:8px 16px;background-color:#f4f4f4;border-radius:3px}
.pagination a:hover{background-color:#f60;color:#fff}
.pagination a.current{color:#fff;background-color:#f60;}
.pagination span{display:inline-block;padding:3px 6px}

.brand_goods>h2{padding:10px 0;margin: 0 10px}
.cat_list {margin: 20px 0}
.cat_list a{display: inline-block;line-height: 26px;padding: 5px 10px;color: #242424;width: 48%;box-sizing: border-box;margin-bottom: 5px;margin-right: 5px;border: 1px solid #eaeaea;border-radius: 3px}
.cat_list a:nth-of-type(2n+2){margin-right: 0}
.cat_list a:hover, .cat_list a.current{color: #fe7600}
.cat_list a.current {font-weight: 600}
.brand_details h1{font-weight: 700;}
.brand_details .logo{display: block;width: 100%;text-align: center}
.brand_details .logo img{height: 80px;width: auto}