.navhome {
    display: block;
    overflow: hidden;
    padding: 1.3% 0 .3%;
    margin: auto;
    background: #00adef;
}

.navhome a {
    float: left;
    width: 48.5%;
    height: 42px;
    margin: 0 0 1.1% 1.1%;
    border: 1px solid #00adef;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #00adef;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5e5e5), to(#fff));
    background: -webkit-linear-gradient(top,#ffffff,#ececec);
}
.navhome h3 {
    display: block;
    font-size: 14px;
    color: #333;
    text-align: center;
    line-height: 1.3em;
    padding: 10px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.navhome h1 {
    display: block;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 1.2em;
    margin: 7px 0 0
}
.hometitle {
    display: block;
    overflow: hidden;
    line-height: 26px;
    font-size: 14px;
    color: #333;
    background:#00adef;
    padding: 5px 10px;
    text-transform: uppercase;
    margin-top: 10px
}
.navhome>.hometitle {margin-bottom: 10px;font-size: 16px;color: #111}
.hometitle a {
    float: right;
    text-transform: none;
    position: relative;
    line-height: 30px;
    color: #288ad6;
    padding-right: 10px
}
.hometitle a:before,
.hometitle a:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid #288ad6;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    position: absolute;
    left: 100%;
    top: 8px
}
.hometitle a:after {
    border-left-color: #fff;
    border-width: 4px;
    top: 10px
}
/* news */

.news {
    display: block;
    overflow: hidden;
    margin-top: 10px
}
.news li {
    display: block;
    overflow: hidden;
    padding: 10px;
    border-bottom: 1px solid #eee;
    position: relative
}
.news li a {
    display: block;
    overflow: hidden
}
.news li a.event {
    text-align: left;
    color: #288ad6;
    font-size: 12px;
    padding-left: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.news li img {
    float: left;
    margin-right: 10px
}
.news li h3 {
    display: block;
    line-height: 1.3em;
    font-size: 14px;
    color: #333
}
.news li label {
    display: inline-block;
    font-size: 11px;
    color: #f89406
}
.news li span {
    display: inline-block;
    font-size: 11px;
    color: #999
}
.news li div {
    display: block;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    margin-left: 110px
}
.news li p {
    color: #288ad6;
    display: inline-block
}
.news li p:before {
    content: '●';
    display: inline-block;
    font-size: 10px;
    color: #999;
    vertical-align: middle;
    margin: 0 5px
}
.news li .video {
    position: absolute;
    top: 60px;
    left: 10px;
    background: rgba(0, 0, 0, .75);
    font-size: 11px;
    color: #fff;
    padding: 0 5px
}
.news li .video:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 7px solid #fff;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    display: inline-block;
    position: relative;
    top: 2px
}
.news li:last-child {
    border: 0
}
/* home product */

.homeproduct {
    display: block;
    clear: both;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #eee
}
.homeproduct li {
    float: left;
    position: relative;
    background: #fff;
    width: 50%;
    overflow: hidden;

    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
/*
    border-right: 1px solid #eee;border-bottom: 1px solid #eee;
*/
}
/*  clear: left */
.homeproduct li:nth-child(3n+1) {
   
}
/*  border-right: 0 */
.homeproduct li:nth-child(3n+3) {
    
}
.homeproduct li.hide {
    display: none
}
.homeproduct li a {
    display: block;
    overflow: hidden;
    padding: 0 10px
}
.homeproduct li h3 {
    display: block;
    overflow: hidden;
    height: 35px;
    line-height: 1.3em;
    font-size: 14px;
    font-weight: 300;
    color: #333;
    clear: both;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis
    text-align: center;
}
.homeproduct li strong {
    display: block;
    overflow: hidden;
    font-size: 14px;
    color: #fe0000;
    font-weight: 700;
    padding: 10px 0;
    line-height: 15px;    width: 50%;
    float: left;    margin-top: -8px;
}
.homeproduct li strong cite {
    color: #fff;
    background: #d0021b;
    padding: 2px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px
}
.homeproduct li span {
    font-size: 12px;
    color: #999;
    text-decoration: line-through;
    display: block;
    margin-top: -10px
}
.homeproduct li img {
    display: block;
    margin: 10px auto;
}
.homeproduct li label {
    position: relative;
    float: right;
    font-size: 6px;
    color: #f00;
    font-weight: 600;
    border-radius: 3px;
    height: 18px;
    margin-top: -168px;
    margin-right: -66px;
    z-index: 500;
}
.homeproduct li a del {
    color: #888;
    display: inline;
    font-size: 11px;
    font-weight: normal;
    float: right;
}
.homeproduct li label.installment {
    background: #ff6a00
}
.homeproduct li label.installment:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 7px solid #ff6a00;
    position: absolute;
    top: 0;
    left: -6px
}
.homeproduct li label.installment:after {
    content: '•';
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    font-size: 16px;
    position: absolute;
    top: 1px;
    right: 85%
}
.homeproduct li label.new {
    background: #3fb846
}
.homeproduct li label.new:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 7px solid #3fb846;
    position: absolute;
    top: 0;
    left: -6px
}
.homeproduct li label.new:after {
    content: '•';
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    font-size: 16px;
    position: absolute;
    top: 1px;
    right: 85%
}


/* phukien*/
.navaccessories {
    display: block;
    overflow: hidden;
    padding: 10px 0 0;
    background: #fff
}

.navaccessories a {
    float: left;
    width: 30%;
    height: 42px;
    text-align: center;
    margin: 0 0 1.1% 1.1%;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #e5e5e5;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5e5e5), to(#fff));
    background: -webkit-linear-gradient(top, #fff, #e5e5e5);
    background: -moz-linear-gradient(top, #fff, #e5e5e5);
    background: -ms-linear-gradient(top, #fff, #e5e5e5);
    background: -o-linear-gradient(top, #fff, #e5e5e5)
}

.navaccessories h3 {
    display: block;
    font-size: 14px;
    color: #333;
    text-align: center;
    line-height: 1.3em;
    padding: 10px 0;
}


#owl-home {
    margin-bottom: -5px;
    height: 178px;
    display: block
}

#owl-home .item img {
    display: block;
    width: 100%;
    height: auto
}
#owl-home .owl-pagination {text-align: center}
#owl-home .owl-controls .owl-page span {
    width: 4px;
    height: 4px;
    border: 1px solid #ccc;
    background: none
}

#owl-home .owl-controls .owl-page.active span {
    background: #fe7705;
    border: 1px solid #fe7705
}

#owl-home .item {
    display: none
}

#owl-home .item:first-child {
    display: block
}

#owl-home.owl-theme .item:first-child {
    display: block
}

#owl-home .owl-item.loading {
    background: none
}


@media screen and (max-width:414px) {
    .navhome a{width: 47.5%}
    .homeproduct li {
        width: 49.99%
        height: 160px;
    }
    #owl-home {
        height: 122px
    }
}
@media screen and (max-width:384px) {

    #owl-home {
        height: 114px
    }
}
@media screen and (max-width:375px) {

    #owl-home {
        height: 112px
    }
}
@media screen and (max-width:360px) {

    #owl-home {
        height: 108px
    }
}
@media screen and (max-width:320px) {
    .homeproduct li {
        width: 49.99%
    }
    .content label {
        font-size: 13px
    }
    #owl-home {
        height: 98px
    }

    .homeproduct li strong cite {
        display: none
    }
}
img.icon-hot {
    top: 0;
    right: 0;
}
img.icon-new {
top: 107px;
    left: 43%;
}
img.icon-sale {
    top: 0;
    left: -25px;
}
.icon2{
	width: 50px !important;
    height: auto !important;
    position: absolute;
	margin:5px !important;
}
.cate li label.installment {
    bottom: 80px !important;
	top:inherit !important;
}
