.col_main_lg{float:right;width:960px;margin-left: 10px;}
.col_sub_lg{float:left;width:230px}
body{background: #fafafa}
/*new filter category.dwt */
.category_name {background: #fff;display: block;}
.category_name .sortby{display: inline-block; line-height: 40px;height: 40px;margin-left: 50px;}
.category_name .sortby a{margin-left: 15px;color: #444}
.category_name .sortby span{display: inline-block;width: 15px;height: 15px;border-radius: 15px;text-align: center;line-height: 15px;border: 1px solid #ececec;vertical-align: middle}
.category_name h2  {
    margin: 0;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    color: #333;
    background: #288ad6;
    display: inline-block;float: left;    position: relative;
    text-transform: uppercase;padding:0 10px;font-weight: 700
}
.category_name h2:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid #288ad6;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -12px;
}

.filter {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: #fff
}
.filter li {
    display: block;
}
.filter li .criteria {text-transform: uppercase;margin: 5px 0;display: block;}
.filter .fsub a{display: inline-block;width: 49.5%;float: left;font-size: 12px;padding: 6px 0;color: #288ad6;overflow: hidden}
.filter .fsub a span {height: 10px;width: 10px;display: inline-block;margin-right: 5px;border: 1px solid #ececec;line-height: 10px;vertical-align: middle;text-align: center}
.filter .fsub.fcat a{display: block;width: 100%;box-sizing: border-box}
/* banner header */

#owl-cate {
    margin: 10px 0;
    height: 122px;
    overflow: hidden
}

#owl-cate a {
    display: block;
    overflow: hidden
}

#owl-cate .owl-item {
    width: 600px;
    text-align: center;
    min-height: 10px
}

#owl-cate .owl-controls .owl-page span {
    width: 6px;
    height: 6px;
    border: 1px solid #cecece;
    background: #fff
}

#owl-cate .owl-controls .owl-page.active span {
    background: #fe7705;
    border: 1px solid #fe7705
}

#owl-cate>a {
    overflow: hidden;
    display: block;
    width: 50%;
    text-align: center;
    float: left
}

#owl-cate>a:nth-child(n+3) {
    display: none
}
#owl-cate .owl-controls {
    margin-top: 0;
    text-align: center;
}
/* goods_list */
.cate {
    background: #fff;
    border-left: 1px solid #ececec;
    border-top: 1px solid #ececec;
    display: block;
    margin: 5px auto 15px;
    overflow: hidden;
    width: 100%;
}
.cate li {
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
    cursor: pointer;
    float: left;
    height: 295px;
    overflow: hidden;
    position: relative;
    width: 20%;
    box-sizing: border-box
}
.cate li a {
    display: block;
    padding: 0 10px 8px;
}
.cate li h3 {
    clear: both;
    color: #444;
    display: block;
    font-size: 14px;
    line-height: 1.3em;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;margin-bottom: 10px;margin-top: 10px;
}
.cate li strong {
    color: #f42424;
    display: inline-block;
    font-size: 14px;
    overflow: hidden;
    vertical-align: middle;
}
.cate li strong del {
    color: #888;
    display: inline;
    font-size: 12px;
    font-weight: normal;
    margin-left: 30px;    float: right;
}

.cate li img {
    display: block;
    height: 150px;
    margin: auto;
    transition: all 200ms ease 0s;
    width: 150px;margin-bottom: 40px;margin-top: 10px;
}
.cate li .promotion {
    display: block;
    max-height: 36px;
    overflow: hidden;
}
.cate li span, .cate li .promotion p  {
    color: #666;
    display: block;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cate li .promotion p::before {
    color: #999;
    content: "•";
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
}
.cate li p {
    color: #c1000c;
    display: block;
    font-size: 12px;
    height: 18px;
    overflow: hidden;
    width: 100%;
}
.cate li label {
    color: #f10000;
    display: inline-block;
    float: right;
    font-weight: 600;
    height: 18px;
    margin: 1px 0 0 5px;
    position: relative;
    vertical-align: middle;
}
.cate li label.installment {
   position: absolute;
    padding: 10px;padding-left: 12px;
    padding-right: 15px;
    right: 0px;
    z-index: 2;top:6px;
    background-image: url(https://hoangaudio.vn/cdn/images/sale.png);
    background-position: -52px -2px;
    background-repeat: no-repeat;
}
.cate li label.installment::before {
    border-bottom: 9px solid transparent;
    border-top: 9px solid transparent;
    content: "";
    height: 0;
    left: -6px;
    position: absolute;
    top: 0;
    width: 0;
}
.cate li label.installment::after {
    color: #fff;

    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    position: absolute;
    right: 85%;
    top: 1px;
    vertical-align: middle;
}
.cate li label.new {
    background: #288ad6 none repeat scroll 0 0;
}
.cate li label.new::before {
    border-bottom: 9px solid transparent;
    border-right: 7px solid #288ad6;
    border-top: 9px solid transparent;
    content: "";
    height: 0;
    left: -6px;
    position: absolute;
    top: 0;
    width: 0;
}
.cate li label.new::after {
    color: #fff;
    content: "•";
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    position: absolute;
    right: 85%;
    top: 1px;
    vertical-align: middle;
}
.cate li label.shockprice {
    background: #d0021b none repeat scroll 0 0;
}
.cate li label.shockprice::before {
    border-bottom: 9px solid transparent;
    border-right: 7px solid #d0021b;
    border-top: 9px solid transparent;
    content: "";
    height: 0;
    left: -6px;
    position: absolute;
    top: 0;
    width: 0;
}
.cate li label.shockprice::after {
    color: #fff;
    content: "•";
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    position: absolute;
    right: 85%;
    top: 1px;
    vertical-align: middle;
}
.cate li a.compr {
    bottom: 10px;
    color: #288ad6;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    pointer-events: all;
    position: absolute;
    right: 10px;
    z-index: 9;
}
.cate li .compr:hover {
    color: #333;
    text-decoration: underline;
}
.cate li.feature {
    width: 50%;
}
.cate li.feature a {
    padding: 0;
}
.cate li.feature img {
    display: block;
    float: none;
    height: 185px;
    margin: -5px auto 5px;
    width: 400px;
}
.cate li.feature label {
    margin-right: 10px;
}
.cate li.feature h3 {
    height: auto;
    padding: 0 10px;
}
.cate li.feature strong {
    padding: 0 10px;
}
.cate li.feature .promotion {
    height: auto;
    margin: 0 10px;
    max-height: none;
    padding: 0 0 5px;
}
.cate li .feature .promotion span {
    display: block;
    line-height: 18px;
    padding: 2px 0;
}
.cate li .bginfo {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    display: block;
    font-size: 12px;
    height: 95%;
    left: 0;
    line-height: 16px;
    opacity: 0;
    overflow: hidden;
    padding: 2% 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 1s;
    z-index: 9;
}
.cate li:hover .bginfo {
    opacity: 1;
    transition-duration: 0.5s;
}
.cate li .bginfo h3 {
    color: #288ad6;
    padding: 0 10px;
}
.cate li .bginfo strong {
    color: #d0021b;
    display: inline-block;
    float: none;
    line-height: 20px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
    margin-bottom: 5px;
}
.cate li .bginfo strong span {
    color: #333;
    display: inline;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
.cate li .bginfo strong span.normal {
    color: #333;
    display: inline;
    font-weight: normal;
}
.cate li .bginfo p {
    color: #666;
    display: block;
    font-size: 12px;
    line-height: 20px;
    padding: 2px 10px;
    text-decoration: none;
}
.cate li .bginfo .name {
    clear: both;
    color: #288ad6;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3em;
    max-height: 36px;
    overflow: hidden;
    padding: 0 10px;
}
.cate li .bginfo .promotion {
    border-bottom: 1px solid #eee;
    padding: 0 0 5px;
}
.cate li .bginfo .promotion span {
    padding: 0;
}
.cate li .bginfo .promotion span::before {
    color: #999;
    content: "•";
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
}
.cate.normal li .promotion {
    padding-top: 4px;
}
.cate:after {
    content: ' ';
    display: block;
    clear: both
}

/*paginator */
.pagination{text-align: center}

/* so sanh */
.compare_list{display: inline-block;float: left}
.compare_list .item{position:relative;padding-top: 10px;padding-left: 20px;line-height:1.2em;display: inline-block;width: 300px;border-left:1px solid #ddd; }
.compare_list .item .photo{float:left;margin:0 5px 2px 0}
.compare_list .item  .name{line-height:1em;font-weight: 600;width: 220px;margin-bottom: 10px;font-size: 13px;display: block}
.compare_list .item  .price{float: left;font-size: 13px;color: #d0021b;font-weight: 600}
.compare_list .item .photo img{height:80px;width:80px}
.compare_list .item .remove{position:absolute;top:5px;left:10px;padding:2px 8px;color:#fff;background:#ff8c22 url('https://www.bachkhoashop.com/static/img/slight_bg.gif') repeat-x left -90px;text-shadow:0 0 0,0 1px 0 #c4620d;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.compare_box {background: #fff;z-index: 999;width: 100%;padding:0 5.55%;border-top:1px solid #ddd;}
.compare_box .action{display: inline-block;text-align: center;width: 180px;margin-top: 30px;float: right;margin-right:10%;}

/* article detail */
.longdesc {background: #fff;padding: 10px;margin: 10px 0 20px;border: 1px solid #dadada;}
article{display: block; overflow: hidden; }
article p, article div, article h2, article h3 {
    margin: 10px auto;
    font-size: 14px;
    color: #333;
    line-height: 24px;
}
article h2{margin: 20px 0}
article div {margin-top: 0}
article div em, article p em{font-style: italic}
article h2, article h3, article h4, article h5{ /*font-weight: 700;*/font-size: 16px}
article h3, article h4, article h5 {color: #fe7600}
article a, article a:hover, article a:active {color: #288ad6;}
article h2 a, article h2 a:hover, article h2 a:active{/* font-weight: 700; */font-size: 16px}
article h3 a{font-weight: 700;font-size: 16px;color: #fe7600}
article ul{list-style: disc;margin-left: 30px}
article ol{margin-left: 30px}
article pre, article code {
    background: #fafafa;color: #333;border-left: 3px solid #ececec;padding:10px;
}

.maxh {
    max-height: 200px;
    clear: both;
    overflow: hidden;
    display: block;
}
.view-more {background: #fff;width: 100%;min-height: 40px}
.view-more p {margin-top: 0px; text-align: center}
.view-more p:before{height: 45px;margin-top: -35px;display: block;content: -webkit-gradient(linear,0% 100%,0% 0%,from(#fff),color-stop(.2,#fff),to(rgba(255,255,255,0)))}
.view-more p span { width: 50px;color: #fe6700  ;cursor: pointer;padding:8px 25px;background: #fff}

.fixfilter {
    position: fixed;
    width:230px; z-index: 2;top: 20px
}


@media screen and (max-width:1200px) {

    .cate {
        min-width: 99.61%;
        max-width: 1023px
    }
    .cate li {
        width: 19.9%
    }


}
/* Category mới - 08/05/2018 */
li.frange {
    margin-right: 2%;
}
li.frange {
    display: inline-block;
    height: 40px;
    width: auto;
    vertical-align: top;
    font-size: 12px;
    position: relative;
    white-space: nowrap;margin-left: 15px;margin-right: 0px;
}
li.frange .criteria, li.frange .selected {
    display: inline-block;
    overflow: hidden;
    font-size: 14px;
    color: #444;
    padding-left: 10px;
    cursor: pointer;
    line-height: 40px;    text-transform: uppercase;
}
li.frange .criteria:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 4px solid #288ad6;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
li.frange div.fsub {
    display: none;
    overflow: visible;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.1);
    padding: 5px 10px;
    position: absolute;
    width: 190px;
    left: -50%;
    top: 40px;
    z-index: 11;
}
li.frange div .all {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #d9d9d9;
    font-size: 14px;
    color: #333;
    padding: 10px 0;
}
li.frange .check .icontgdd-checklist {
    display: inline-block;
    margin-left: -20px;
}
li.frange label.all a {
    color: #288ad6;
}
li.frange label:hover {
    color: #288ad6;
}
li.frange .check .icontgdd-checklist {
    display: inline-block;
    margin-left: -20px;
}
li.frange label.check a {
    padding-left: 2px;
}
li.frange label {
    display: block;
    padding: 5px 0 6px;
    cursor: pointer;
    text-indent: 20px;    border-bottom: 1px solid #e4e4e4;
}
.icontgdd-checklist {
    background-position: -185px -30px;
    width: 16px;
    height: 14px;
    display: none;
}
li.frange div.fsub a {
    color: #333;
    text-align: right;    padding-right: 100%;
}
li.frange:hover div {
    display: block;
}
.filter2 {
    display: contents;    float: right;
    margin-right: 15px;
}
li.frange label {
    text-indent: 10px;
}
ol.breadcrumbs {
    display: inline-block;
    float: left;
}
ul.categories {
    display: inline-block;
    margin-left: 15px;
}
ul.categories li {
    float: left;
}
ul.categories li {
    float: left;
}
ul.categories li  ul.sub_cat {
    display: none;
}
ul.categories li:hover ul.sub_cat{
	display: block;
}
ul.categories li .sub_cat ul {
    width: 100%;
    display: block;
}
ul.categories li:hover .sub_cat {
    display: block;
    background: #fff;
    border: 1px solid #ddd;
}
ul.categories .sub_cat li {
    padding: 10px;
	width:100%;
}
ul.categories li {
    display: inline-block;
    position: relative;
    padding: 0;
}
ul.categories li .sub_cat {
    position: absolute;
    display: none;
    width: 160px;
    left: 0;
    top: 30px;
    z-index: 89;
}
ul.categories li a {
    text-transform: uppercase;
    color: #444;
    display: block;
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    padding: 0 10px;
    color: #444;
    width: 100%;
}
ul.categories li li a {
    text-transform: uppercase;
    color: #444;
    display: block;
    height: 20px;
    line-height: 20px;
    box-sizing: border-box;
    padding: 0 10px;
    color: #444;
    width: 100%;
}
.col_main_lg {
    float: right;
    width: 1200px;
    margin-left: 0px;
}
.col_sub_lg {
    display: none;
}
/* Cate Footer 10-5 */
.catefooter {
    clear: both;
    padding: 5px;
    border-top: 1px solid #ccc;
}
.longdesc table{border: none;}
.longdesc td{border: none;padding: 20px;line-height: 30px;}.youtube-embed-wrapper{float: right;position: relative;margin-left: 15px;}
iframe{float: right;position: relative;margin-left: 15px;}
