.col_main_lg{float:left;width:800px}
.col_sub_lg{float:right;width:360px}
footer{border-top: 3px solid #ececec}
.header-logo-user {text-align: center;margin-bottom: 30px}
.header-logo-user img{margin: 30px auto 0 auto;}

.message-form label,.message-form input[type="text"], .message-form input[type="tel"], .message-form textarea, .message-form input[type="email"]
{display: block;margin-bottom: 15px;width: 100%;box-sizing: border-box;padding: 8px 5px}
.message-form label b{margin-bottom: 10px;display: block;}
.message-form .radio_wrap label{display: inline-block;width: auto;padding: 0}
.message-form input.incaptcha {width: 100px !important;margin-bottom: 0;display: inline-block !important;}
.message-form .captcha {vertical-align: middle;}
.submit_wrap {margin-top: 20px;}

.message-form {margin-bottom: 20px;}
.message-form  .text {line-height: 24px;margin-bottom: 10px;}